@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat";
    margin: 0px;
    overflow: hidden;
    --primary-color: #0a0a0a;
    --secondary-color: #1b1b1b;
    --accent-color: #a2d2df;
    --font-color: #eeeeee;
    --Hover-color: #29282b;
    --Border-color: #323232;
}

.Main {
    display: inline-flex;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
}

.SideBar {
    width: 20%;
    height: 100%;
    z-index: 2;
}

.Profile-Pic {
    padding-top: 10%;
    margin: auto;
    width: 125px;
    height: 125px;
    border-radius: 100%;
}

.Profile-Pic img {
    border-radius: 100%;
    width: 125px;
    height: 125px;
}

.Profile-Name {
    text-align: center;
    justify-content: center;
    height: 3rem;
    color: var(--font-color);
    font-size: 1.3rem;
}

.SidebarTabs {
    display: flex;
    flex-direction: column;
    row-gap: 4%;
    justify-self: center;
    width: 70%;
    height: 70vh;
}

.SidebarTabs img {
    margin-left: 4%;
    height: 20px;
    width: 20px;
    filter: grayscale(1) invert(1);
}

.Tabs {
    align-items: center;
    gap: 6%;
    display: flex;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: var(--font-color);
    background-color: rgba(0, 0, 0, 0);
}

.Tabs p {
    font-size: 1.3rem;
    text-align: left;
}
#Tab1 {
    margin-top: 10%;
}

#Tab1:hover {
    background-color: var(--Hover-color);
    border: 1px solid var(--Border-color);
}
#Tab2:hover {
    background-color: var(--Hover-color);
    border: 1px solid var(--Border-color);
}
#Tab3:hover {
    background-color: var(--Hover-color);
    border: 1px solid var(--Border-color);
}
#Tab4:hover {
    background-color: var(--Hover-color);
    border: 1px solid var(--Border-color);
}
#Tab5:hover {
    background-color: var(--Hover-color);
    border: 1px solid var(--Border-color);
}
#Tab6:hover {
    background-color: var(--Hover-color);
    border: 1px solid var(--Border-color);
}

.Main-Container {
    position: relative;
    row-gap: 3.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
    width: 78.5%;
    height: 94vh;
    margin: auto 0;
    background-color: var(--primary-color);
}

.Top-Container {
    height: 29%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 1px solid var(--Border-color);
}

#Top1 {
    width: 40%;
}

#Top2 {
    margin-left: 2.5%;
    width: 52.5%;
}

#Middle3 {
    width: 95%;
}

#Bottom4 {
    width: 40%;
}
#Bottom5 {
    margin-left: 2.5%;
    width: 52.5%;
}
